:root {
  /* @Info
     1) https://developer.mozilla.org/en-US/docs/Web/CSS/var()
     2) https://developer.mozilla.org/ru/docs/Web/CSS/Using_CSS_custom_properties
     
     !!!!!INTERNET PAGE !!!!!!!!!
     https://bogdanbts.github.io/Beetroot_projects/01_09_2021/index.html

     */
  --btn-active-color-bg: #ff9900;
  --btn-active-color-text: #fff;
  --btn-default-color-border: #bcd0e5;
  --btn-default-color-text: #000;
  --icon-round: #ff9900;
}

body {
  font-family: 'Poppins', sans-serif;
}


header,
main,
footer {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

header {
  display: block;
  width: 100%;
  padding: 9px 140px 0px 140px;
  box-sizing: border-box;
}

header .header_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;

}

header .header_logo .wrapper_nav {
  display: none;
}

header .header_logo>a {
  font-size: 29px;
  text-decoration: none;
  font-weight: bold;
  color: #173A56;

}

header .header_logo a svg {
  vertical-align: bottom;
}

header nav {
  font-size: 14px;

}

header nav a {
  margin: 0 9px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

header nav .header_btn {
  display: inline-block;
  margin-left: 50px;
  font-size: 30px;
}

header nav .header_btn .header-sing-in,
header nav .header_btn .header-sing-up {
  font-size: 16px;
  padding: 14px 24px 12px 24px;
  text-transform: capitalize;
  font-weight: 600;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--btn-default-color-border);
}

header nav .header_btn .active {
  background: var(--btn-active-color-bg);
  color: var(--btn-active-color-text);
}

header nav .header_btn .header-sing-up {

  margin-right: 15px;
}


/*MAIN*/
main {
  margin-top: 53px;
}

main .home {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

main .home .home_left {
  text-align: left;
  width: 47.3%;
  box-sizing: border-box;
}

main .home .home_left .title {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  color: #2F281E;
  padding: 61px 0 30px;
}

main .home .home_left .description {
  text-align: start;
  font-style: normal;
  font-size: 18px;
  font-family: inherit;
  line-height: 28px;
  padding: 0px 76px 0px 0px;
}

main .home .btn {
  display: flex;
  margin-left: 1px;
  font-size: 16px;
  padding: 53px 0 59px 0;
}

main .home .btn .get-started {
  font-size: 16px;
  padding: 17px 43px;
  text-transform: capitalize;
  font-weight: bold;
  background: var(--btn-active-color-bg);
  color: var(--btn-active-color-text);
  border: 0px solid var(--btn-default-color-border);
  border-radius: 5px;
}

main .home .home_left .btn .btn--arrow {
  display: flex;
  align-items: center;
  margin: 0 0 0 29px;
  color: #ff9900;
}

main .home .home_left .btn .arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-radius: 2px;
  border-width: 8.5px 0px 8.5px 15px;
  border-color: transparent transparent transparent #ff9900;
  top: 4px;

}

main .home .home_left .btn .btn--arrow p {
  margin: 0 0px 0 10px;
  color: #ff9900;
}

main .home .home_right {
  width: 52.7%;
  box-sizing: border-box;
}

main .home .home_right svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/*FEATURE*/

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.feature {
  margin: 112px 0 120px 0;
}

.feature .description_2 {
  background-image: url(../img/bg.svg);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 543px;
  display: block;
  max-width: 100%;
  height: auto;
}

.feature .description_2 h2 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  line-height: 56px;
  margin: 0 0 54px 0;
}

.feature .description_2 .description_2_figures .figures figure {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.feature .description_2 .description_2_figures .figures figure figcaption {
  padding: 0 57px 0 0;
}

.feature .description_2 .description_2_figures .figures figure h3 {
  padding: 0 0 13px 0;
}

.feature .description_2 .description_2_figures .figures figure p {
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
}

.feature .description_2 .description_2_figures .figures figure svg {
  padding: 0 0 40px 0;
  vertical-align: top;
}

.feature .description_2 .description_2_figures .figures {
  /* background-image: url('../img/bg.svg');
  /* Костыль, но рабочий! )))
 Такие вещи принято делають не картинками, а на css. И используй для етого глоб-переменную цвета.
*/
  padding-left: 152px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

main .feature .description_2 .description_2_figures {
  display: flex;
  box-sizing: border-box;
  vertical-align: top;
}

main .feature .description_2 .description_2_figures .feature__figures--right {
  display: flex;
  min-width: 48%;
  justify-content: flex-start;
}

main .feature .description_2 .description_2_figures .feature__figures--right figure {
  max-width: 42%;
  box-sizing: border-box;
}

main .feature .description_2 .description_2_figures .feature__figures--right figure figcaption {
  padding: 0 57px 0 0;
}

main .feature .description_2 .description_2_figures .feature__figures--right figure h3 {
  padding: 0 0 13px 0;
}

main .feature .description_2 .description_2_figures .feature__figures--right figure p {
  font-weight: 500;
  line-height: 26px;
  font-size: 16px;
}

main .feature .description_2 .description_2_figures .feature__figures--right figure svg {
  padding: 0 0 40px 0;
  vertical-align: top;
}

.feature .description_2 .button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 39px;
}


.feature .description_2 .sign_up_now {
  font-size: 16px;
  padding: 16px 33px;
  text-transform: capitalize;
  font-weight: bold;
  background: var(--btn-active-color-bg);
  color: var(--btn-active-color-text);
  border: 0px solid var(--btn-default-color-border);
  border-radius: 5px;
}

/* VALIDATION */

.validation {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 0 101px 0;
}

.validation .left_side_table {
  padding: 0 0 0 10%;
  width: 43.8%;
  box-sizing: border-box;
}

.validation .left_side_table .lst_h2 {
  padding: 0 11% 22px 0;
  /* max-width: 46.8%; */
  box-sizing: border-box;
}


.lst_h4_1,
.lst_h4_2,
.lst_h4_3 {
  padding: 0 0 12px 0;
}

.validation .left_side_table .lst_p_2 {
  padding: 0px 0 42px 0;
}

.validation .left_side_table .lst_p_1 {
  padding: 26px 0 18px 0;
}

.validation .left_side_table .lst_p_3,
.validation .left_side_table .lst_p_4 {
  padding: 0 0 34px 0;
}

.validation .left_side_table p {
  font-size: 16px;
  line-height: 26px;
}

.validation .right_side_table {
  padding: 0 11% 0 0;
}

.validation .right_side_table svg {
  display: block;
  width: 100%;
  height: auto;
}

/*MANAGERS*/

.managers {
  margin: 0 0 104px 0;
  display: flex;
  justify-content: space-between;
}

.managers .left_side_managers {
  padding: 0 0 0 10%;
  display: inline-block;
  max-width: 47%;
}

.managers .left_side_managers svg {
  display: block;
  width: 100%;
  height: auto;
}

.managers .right_side_managers {
  padding-right: 8%;
  display: inline-block;
  max-width: 36.5%;
}

.managers .right_side_managers p {
  line-height: 26px;
  font-size: 16px;
}

.rsm_p_1 {
  padding: 55px 0 0 0;
}

.managers .right_side_managers figure {
  margin: 30px 0 0 0;
  line-height: 26px;
  /* vertical-align: top; */
  display: flex;
  align-items: center;
  max-width: 95%;
}

.managers .right_side_managers figure svg {
  /* Если взялся использовать переменные для цветовой схемы то доводи дело до конца )) */
  margin: 0 30px 0 0;
}

.managers .right_side_managers figure figcaption {
  font-size: 16px;
  display: inline-block;
  width: 80%;
}

.managers .right_side_managers .figure_2_1 {
  font-size: 16px;
  max-width: 88%;
  display: flex;
}


.managers .right_side_managers h2 {
  padding: 11px 0 27px 0;
}



/*MARKETS*/

.markets {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 0 149px 0;
}

.markets .left_side_table {
  padding: 0px 0 0 10.25%;
  max-width: 33.8%;
}

.markets .left_side_table .lst_h2 {
  padding: 0px 0 29px 0;
}

.lst_h4_1,
.lst_h4_2,
.lst_h4_3 {
  padding: 0 0 12px 0;
}

.markets .left_side_table .lst_p_2 {
  padding: 0 0 34px 0;
}

.markets .left_side_table .lst_p_1 {
  padding: 42px 0 14px 0;
}

.lst_p_3,
.lst_p_4 {
  padding: 0 0 37px 0;
}

.markets .left_side_table p {
  font-size: 16px;
  line-height: 26px;
}

.markets .right_side_table {
  padding: 0 10.5% 0 0;
  /* max-width: 46.8%;*/
}

.markets .right_side_table svg {
  display: block;
  width: 100%;
  height: auto;
}

/*FOOTER*/

footer:before {
  content: "";
  display: block;
  width: 79.2%;
  height: 1px;
  margin: 0 9.36% 96px 11.44%;
  background-color: #BCD0E5;
}

footer .footer_col {
  padding: 0 9.36% 81px 10.43%;
  display: flex;
  min-height: 205px;
}

footer .footer_col p {
  font-size: 20px;
  padding-bottom: 40px;
}

footer .footer_col .footer_logo {
  width: 30.5%;
}

footer .footer_col .footer_logo svg {
  vertical-align: bottom;
}

footer .footer_col .footer_logo>a {
  font-size: 29px;
  text-decoration: none;
  font-weight: bold;
  color: #173A56;
  margin: 0 0 0 10px;
}

footer .footer_col .quick_links {
  width: 23%;
  font-family: 'Montserrat Alternates', sans-serif;

}

footer .footer_col .quick_links li {
  padding-top: 20px;
}

footer .footer_col .quick_links a {
  font-size: 16px;
  text-decoration: none;
  color: #544837;
}


footer .footer_col .legal_stuff {
  width: 19%;
  font-family: 'Montserrat Alternates', sans-serif;

}

footer .footer_col .legal_stuff li {
  padding-top: 20px;
}

footer .footer_col .legal_stuff a {
  font-size: 16px;
  text-decoration: none;
  color: #544837;
}

.footer_btn {
  width: 30.5%;
}

.footer_btn .footer_sign_up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_btn .footer_sign_up .footer_sign_up--input {
  height: 48px;
  width: 100%;
  border: 1px solid var(--btn-default-color-border);
  margin-top: 13px;
  padding: 10px 5% 10px 5%;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--btn-default-color-border);
  border-radius: 5px;
}

.footer_btn .footer_sign_up .footer_sign_up--input::placeholder {
  color: var(--btn-default-color-border);
  font-family: 'Montserrat Alternates', sans-serif;
}

.footer__btn--active {
  font-size: 16px;
  padding: 10px 17px;
  text-transform: capitalize;
  font-weight: bold;
  background: var(--btn-active-color-bg);
  color: var(--btn-active-color-text);
  border: 0px solid var(--btn-default-color-border);
  border-radius: 5px;
  margin-top: 25px;
}

/* ADAPTIVE */

@media (max-width: 1440px) {

  /* HEADER AND HOME */
  body {
    background: cadetblue;
  }

}

@media (max-width: 1180px) {

  h2 {
    font-size: 28px;
  }

  /* HEADER */
  header {
    padding: 9px 100px 0px 110px;
  }

  /* MAIN */
  main .home .home_left .title {
    font-size: 36px;
  }

  main .home .home_left .description {
    font-size: 16px;
  }

  main .home .btn {
    padding: 33px 0 27px 0;
  }

  /* FEATURE */
  main .feature {
    margin: 77px 0 87px 0;
  }

  .feature .description_2 h2 {
    margin: 0px 0 40px 0;
  }

  .feature .description_2 .description_2_figures .figures {
    padding-left: 103px;
  }

  .feature .description_2 .description_2_figures .figures figure svg {
    padding: 0 0 30px 0;
  }

  main .feature .description_2 .description_2_figures .feature__figures--right {
    justify-content: center;
  }

  main .feature .description_2 .description_2_figures .feature__figures--right figure svg {
    padding: 0px 0 30px 0;
  }

  .feature .description_2 .sign_up_now {
    font-size: 13px;
  }

  /* DESIGN PROFESSIONALS/VALIDATION */
  .validation {
    margin: 0 0 80px 0;
  }

  .validation .left_side_table p {
    font-size: 15px;
  }

  .validation .left_side_table .lst_p_1 {
    padding: 20px 0 9px 0;
  }

  .validation .left_side_table .lst_p_2 {
    padding: 0px 0 15px 0;
  }

  .validation .left_side_table .lst_p_3,
  .validation .left_side_table .lst_p_4 {
    padding: 0 0 21px 0;
  }

  /* MANAGERS */

  .managers {
    margin: 0 0 80px 0;
  }

  .managers .right_side_managers p {
    font-size: 15px;
  }

  .rsm_p_1 {
    padding: 25px 0 0 0;
  }

  .managers .right_side_managers h2 {
    padding: 11px 0 22px 0;
  }

  .managers .right_side_managers figure figcaption {
    font-size: 14px;
  }

  .managers .right_side_managers figure {
    margin: 13px 0 0 0;
  }

  /* MARKETS */

  .markets {
    margin: 0 0 80px 0;
  }

  .markets .left_side_table p {
    font-size: 15px;
  }

  .markets .left_side_table .lst_p_1 {
    padding: 10px 0 7px 0;
  }

  .markets .left_side_table .lst_h2 {
    padding: 0px 0 15px 0;
  }

  .markets .left_side_table .lst_p_2 {
    padding: 0 0 15px 0;
  }

  .lst_p_3,
  .lst_p_4 {
    padding: 0 0 21px 0;
  }

  /* FOOTER */
  footer:before {
    margin: 0 9.36% 60px 11.44%;
  }

  footer .footer_col p {
    font-size: 17px;
  }

  footer .footer_col .quick_links a {
    font-size: 15px;
  }

  footer .footer_col .legal_stuff a {
    font-size: 15px;
  }



}

@media (max-width: 1013px) {
  header .header_logo {
    flex-direction: column;
    align-items: flex-start;
  }

  main .home {
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }

  main .home .home_left {
    width: 55.3%;
  }

  main .home .home_left .title {
    padding: 27px 0 30px;
    text-align: center;
  }

  main .home .home_left .description {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

  main .home .btn {
    justify-content: space-around;
  }

  main .home .home_right {
    width: 55.7%;
  }

  main .home .home_right svg {
    max-width: 100%;
  }

  /* FEATURE */

  main .feature {
    margin: 77px 0 40px 0;
  }

  .feature .description_2 .description_2_figures .figures {
    padding-left: 40px;
  }

  main .feature .description_2 .description_2_figures .feature__figures--right figure {
    max-width: 55%;
  }

  .feature .description_2 .button {
    margin-top: 20px;
  }

  /* VALIDATION */

  main .validation {
    flex-direction: column;
    align-items: center;
  }

  .validation .left_side_table {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
  }

  .validation .left_side_table .lst_h2 {
    padding: 0 0 22px 0;
  }

  .validation .right_side_table {
    padding: 0;
    width: 50%;
  }

  /*  MANAGERS  */
  .managers {
    flex-direction: column-reverse;
    align-items: center;
  }

  .managers .right_side_managers {
    padding-right: 0;
    max-width: 52%;
    text-align: center;
  }

  .managers .right_side_managers .figure_2_1 {
    flex-direction: column;
    max-width: 100%;
  }

  .managers .right_side_managers figure {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .managers .left_side_managers {
    padding: 20px 0 0 0;
  }

  /* MARKETS */

  .markets {
    flex-direction: column;
    align-items: center;
  }

  .markets .left_side_table {
    padding: 0;
    max-width: 50%;
    text-align: center;
  }

  .markets .right_side_table {
    padding: 0;
    max-width: 50%;
  }

  /* FOOTER */

  footer .footer_col {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer .footer_col .footer_logo {
    width: 40%;
  }

  footer .footer_col .quick_links {
    width: 40%;
  }

  footer .footer_col .legal_stuff {
    width: 40%;
    padding-top: 16px;
  }

  .footer_btn {
    width: 40%;
    padding-top: 12px;
  }

}

@media (max-width: 832px) {

  header {
    padding: 9px 70px 0px 70px;
  }

}

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  header .header_logo {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    padding-top: 5px;
    flex-direction: row;
  }



  header .header_logo .wrapper_nav {
    display: block;
    width: 33px;
    height: 27px;
  }

  header .header_logo .wrapper_nav .nav_icon {
    display: block;
    padding: 0 0 13px 0;
    cursor: pointer;
  }

  header .header_logo .wrapper_nav .nav_links {
    display: none;
  }

  header .header_logo .wrapper_nav .nav_links {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 44px;
    width: 100%;
    background: rgb(118, 170, 172);
    align-items: center;
    text-align: center;
  }

  header .header_logo .wrapper_nav .nav_links {
    /* visibility: hidden; */
  }

  header .header_logo .wrapper_nav .nav_icon span:not(:last-child) {
    display: block;
    border-bottom: var(--btn-active-color-bg) solid;
    margin-bottom: 5px;
  }

  header .header_logo .wrapper_nav .nav_icon span:last-child {
    display: block;
    border-bottom: var(--btn-active-color-bg) solid;
  }
}

header .header_logo .wrapper_nav:hover .nav_icon+.nav_links {
  /* display: block; */
  /* visibility: visible;
  cursor: pointer;
  display: flex;
  position: absolute;
  margin-top: 35px;
  right: 0px;
  width: 100%;
  background: rgba(95, 158, 160, 1);
  flex-direction: column;
  align-items: center; */
  display: block;
}

header .header_logo .wrapper_nav:active .nav_icon+.nav_links {
  /* display: block; */
  /* visibility: visible;
  cursor: pointer;
  display: flex;
  position: absolute;
  margin-top: 35px;
  right: 0px;
  width: 100%;
  background: rgba(95, 158, 160, 1);
  flex-direction: column;
  align-items: center; */
  display: block;
}


header .header_logo .wrapper_nav .nav_links a {
  margin: 10px 0 10px 0;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

main {
  margin-top: 0;
}

/* HOME */

main .home .home_left {
  width: 87.3%;
}

main .home .btn .get-started {
  font-size: 15px;
  padding: 9px 16px;
}

main .home .home_right {
  width: 75%;
}

/* FEATURE */
.feature .description_2 {
  background-image: none
}

main .feature .description_2 .description_2_figures {
  flex-direction: column;
}

.feature .description_2 .description_2_figures .figures {
  padding-left: 0;
}

.feature .description_2 .description_2_figures .figures figure {
  padding-left: 70px;
}

main .feature .description_2 .description_2_figures .feature__figures--right figure {
  padding-left: 70px;
  max-width: 50%;
}

/* VALIDATION/DESIGN PROFESSIONALS */

.validation {
  margin: 0 0 25px 0;
}

.validation .left_side_table {
  width: 90%;
}

.validation .right_side_table {
  padding: 10px 0 0 0;
  width: 65%;
}

/* MANAGERS/PRODUCT MANAGERS */

.managers {
  margin: 0 0 25px 0;
}

.managers .right_side_managers {
  max-width: 90%;
}

.managers .left_side_managers {
  max-width: 65%;
}

/* MARKETERS */
.markets {
  margin: 0 0 25px 0;
}

.markets .left_side_table {
  max-width: 90%;
}

.markets .right_side_table {
  max-width: 65%;
}

/* FOOTER */
footer:before {
  margin: 0 9.36% 30px 11.44%;
}

footer .footer_col .footer_logo {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}

footer .footer_col .quick_links {
  width: 44%;
  text-align: center;
}

footer .footer_col .legal_stuff {
  padding-top: 0;
  width: 50%;
  text-align: center;
}

.footer_btn {
  padding-top: 30px;
  text-align: center;
  width: 74%;

}
}

@media (max-width: 668px) {

  header {
    padding: 9px 70px 0px 50px;
  }

  /* FEATURE */

  .feature .description_2 .description_2_figures .figures {
    flex-direction: column;
    align-items: center;
  }

  .feature .description_2 .description_2_figures .figures figure {
    padding-left: 0;
    text-align: center;
  }

  .feature .description_2 .description_2_figures .figures figure figcaption {
    padding: 0;
  }

  main .feature .description_2 .description_2_figures .feature__figures--right {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  main .feature .description_2 .description_2_figures .feature__figures--right figure {
    max-width: 90%;
    padding-left: 0;
  }

  main .feature .description_2 .description_2_figures .feature__figures--right figure figcaption {
    padding: 0;
  }

  /* FOOTER */

  .footer_btn .footer_sign_up .footer_sign_up--input {
    font-size: 15px;
  }

}