/*2:15:54 about size of body tags FE (Snisar) Lesson 05*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  justify-content: center;
}
/*2:15:54 about size of body tags FE (Snisar) Lesson 05*/
.container {
  max-width: 1100px;
  position: relative;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.tel,
.email,
.social {
  text-decoration: none;
  color: black;
}

img {
  height: 244px;
}

.desk-left {
  width: 585px;
  display: inline-block;
}

.desk-right {
  width: 585px;
  display: inline;
}

h1 {
  margin-block-start: 0.57em;
  margin-block-end: 0.57em;
}


/*
Для начала неплохо. Хотелось бы от тебя еще увидеть верстку по макету.
Там уже будет посложней и прийдется сталкиватся с проблемами. Нужно будет посидеть и чтото перечитать,
 а может и погуглить, в конце концов нестесняйся спрашивать меня.

Старайся разделять стили для каждой секций/блока.
При написании глобальных стилей ты столкнешься с проблемой когда они будут
 - конфликтовать
 - небудут наследовать нужные стили
 - усложнять поиск нужных стилевых правил
 - при изменении - окажут неожиданный глобальный ефект

 Поектому советую писать в таких примерах
 1) .Класс .Класс .Класс/НТМЛ-тег
 2) .Класс .Класс тег.Класс/НТМЛ-тег
 3) .Класс тег.Класс тег.Класс/НТМЛ-тег

Ето самые удачные 
- их легко перебивать
- легче ориентироватся
- при чтении можно понять хтмл-вложеность
- меньше шанс влияния глобальных стилей
- меньше неожиданного применения стиля
*/
