@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');

/*@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Font/Desktop_OTF/Aleo-Regular.otf');
}

@font-face
{  font-family: 'Josefin Sans';
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
}*/