// MAIN.CSS !!!!!

//emphasis
//soft
//main
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');


$main:#fff;
$decor:#5474fd;
$options:#e8e8e8;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: $main;
    //cursor: pointer;
}


.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: url(../images/header_cover.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;


    &__inner {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }

    &__brand-title {
        font-weight: 700;
        text-align: center;
        font-size: 48px;
        letter-spacing: 2.8px;
        color: $main;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 6px 0;
        padding: 12.3% 0 0 0;

    }

    &__slogan-title {
        font-weight: 400;
        text-align: center;
        font-size: 22px;
        letter-spacing: 5px;
        color: $main;
        margin: 0 0 50px 0;
    }

    &__search-form {
        box-sizing: border-box;
        margin: 0 auto 120px auto;
        width: 100%;
        max-width: 650px;
        height: 61px;
        position: relative;
        display: block;
        border: none;
    }

    &__input-text {
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        border: none;
        padding-right: 169px;
        padding-left: 20px;
        font-size: 13px;
        color: #8c8c8c;
        letter-spacing: 2.5px;
        text-align: center;

        &::placeholder {
            color: #8c8c8c;
        }
    }

    &__search-button {
        box-sizing: border-box;
        width: 146px;
        height: 56px;
        padding-right: 20px;
        background: #5474fd;
        position: absolute;
        right: 2px;
        top: 2px;
        border: none;
        font-family: "Aleo", serif;
        font-weight: 400;
        letter-spacing: 1.4px;
        font-size: 14px;
        line-height: 26px;
        color: $main;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;

        &::after {
            position: absolute;
            content: url(../images/search_icon.svg);
            top: 19px;
            right: 16px;
        }

        &:hover {
            text-decoration: underline;
        }

        &:active {
            background: #717db3;
        }
    }


    &__scroll-link {
        margin: 0 auto;
        display: block;
        width: 107px;
    }

    &__scroll-text {
        position: relative;
        font-size: 14px;
        letter-spacing: 2px;
        color: $main;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        padding-bottom: 25px;
        text-align: center;
        display: block;
        text-transform: capitalize;

        &:hover {
            font-size: 15px;
            padding-bottom: 24px;
        }
    }

    &__scroll-text::after {
        content: url(../images/scroll.svg);
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    &__nav {
        box-sizing: border-box;
        background: $decor;
        min-height: 80px;

        //    padding: 0 18.64%;

    }

    &__nav-inner {
        max-width: 1110px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: $decor;
        min-height: 80px;
        align-items: center;
        margin: 0 auto;
    }

    .header__logo {}

    &__logo-link {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 24px;
        letter-spacing: 1px;
        color: $main;
        text-transform: uppercase;
    }

    .nav__items {
        display: flex;
    }

    .nav__item {
        box-sizing: border-box;
        position: relative;

        &:hover:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 18px;
            background: #ff6363;
        }

        &+.nav__item {
            margin-left: 42px;
        }
    }

    .nav_link {
        box-sizing: border-box;
        text-transform: uppercase;
        font-family: "Aleo", serif;
        font-weight: 400;
        font-size: 14px;
        color: $main;

    }



}

//HEADER END !!!!!

.why-us {
    background: url(../images/why_us_cover.jpg) no-repeat;
    background-size: cover;
    //height: 100vh;
    padding: 120px 0;

    &__container {
        max-width: 1110px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 525px;
        padding: 68px 0 0 0;
        box-sizing: border-box;
    }


    &__title {
        font-size: 36px;
        font-family: "Aleo", serif;
        font-weight: 400;
        color: $main;
        margin-bottom: 55px;
    }

    &__paragraph {
        font-size: 17px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        color: #e8e8e8;
        margin-bottom: 35px;
        line-height: 26px;
    }


    &__link {}



    &__img-container {
        max-width: 476px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__img-one {
        align-self: flex-start;
        margin-bottom: 5px;
    }

    &__img-two {
        align-self: flex-end;
    }
}

.button-explore {
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 60px;
    background: linear-gradient(43deg, #496bfe 41%, $decor 41%);
    text-decoration: none;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: $main;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3ms ease;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        background: linear-gradient(43deg, #496bfe 41%, #496bfe 41%);
    }
}

// end WHY US !!!!!

.how-works {
    background: #333333;
    padding-top: 47px;
    padding-bottom: 119px;

    &__ico-row-flex {
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: flex-end;
    }

    &__decor-line {
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 155px;
        align-self: flex-start;
        padding-bottom: 115px;
    }


    &__decor-line::before {
        content: "";
        border-top: 1px dashed #868686;
        border-radius: 50%;
        width: 460px;
        height: 498px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }



    &__ico-block {
        margin-right: -67px;
        margin-left: -68px;
        padding-top: 26px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }

    &__ico-text {
        min-width: 212px;
        font-size: 36px;
        font-family: "Aleo", serif;
        color: #fff;
        line-height: 0.722;
        text-align: center;
        padding-top: 34px;
    }

    &__ico-pic {
        width: fit-content;
        margin-bottom: 35px;
    }

}

// end HOW-WORKS !!!!

.explore-option-one {
    background: url(../images/booking_option_cover_1.jpg) no-repeat;
    /* background-position: left; */
    background-size: cover;
    padding: 230px 0 1px 0;
    // height: 100vh;
    //padding: 0 18.64%;

}



.book-now-window {
    max-width: 539px;
    background-color: rgba(45, 38, 35, 0.9);
    padding: 53px 15px 46px 29px;
    margin-bottom: 100px;


    &__country {
        font-size: 20px;
        font-weight: 400;
        color: $options;
        margin-bottom: 25px;

    }

    &__hotel {
        line-height: 26px;
        font-weight: 400;
        color: $options;
        text-transform: uppercase;
        margin-bottom: 18px;
        font-size: 19px;

    }

    &__paragraph {
        font-size: 14px;
        font-weight: 400;
        color: $options;
        line-height: 26px;
        margin-bottom: 43px;

    }
}

.explore-option-two {
    background: url(../images/booking_option_cover_2.jpg) no-repeat;
    background-size: cover;
    padding: 230px 0 1px 0;
}

.explore-modefication {
    display: flex;
    justify-content: flex-end;
}

.testimonial {
    background: url(../images/testemonial_guy_cover.jpg) no-repeat;
    background-size: cover;

    &__title {
        display: block;
        margin: 0 auto;
        font-size: 36px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        color: #fff;
        width: 100%;
        margin-bottom: 94px;
        padding: 121px 0 0 0;
        max-width: 360px;
    }

    &__container-img-text {
        max-width: 1110px;
        display: flex;
        margin: 0 auto;
        padding-bottom: 197px;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: right;
    }

    &__quote {
        box-sizing: border-box;
        max-width: 665px;
        background-color: #3d3d3ddd;
        padding: 48px 20px 0 58px;
    }

    &__quote-title {
        font-size: 20px;
        font-family: "Aleo", serif;
        font-weight: 400;
        color: $options;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__quote-text {
        font-size: 14px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        color: $options;
        line-height: 26px;

    }

    &__quote-decor {

        position: relative;
        padding-right: 30px;
        padding-top: 44px;
        display: inline-block;

        &::after {
            content: url(../images/quote-left-solid-20px.svg);
            position: absolute;
            top: 15px;

        }

    }

}

//end TESTIMONIAL !!!!

.footer {
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30vh;

    &__center-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 18px;
    }

    &__brand-title {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 2.6px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__slogan-title {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 30px;
        letter-spacing: 0.4px;
    }

    &__social-networks {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__social-network-link {
        text-decoration: none;
    }

    &__social-network-link-icon {}

    &__social-network-link-icon:hover {
        fill: #4860c8;
    }

}