$main:#2C4058;
$second:#FFFFFF;
$line:#2C4058;

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: $main;
    background-color: $second;
}

a {
    text-decoration: none;
    color: $second;
}

.container {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

//-----INTRO-----!
.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(55deg, rgba(85, 183, 255, 1) 0, rgba(126, 90, 255, 1) 100%);
    flex-direction: column;
    display: flex;
    justify-content: center;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;

        background: url('../img/header_bg.png') center no-repeat;
        background-size: cover;
    }
}

.intro__slider {

    .slider__item {
        text-align: center;

        &-h1 {
            font-size: 80px;
            font-weight: bold;
            color: $second;
            letter-spacing: 0.1em;
            padding-bottom: 29px;
        }

        &-p {
            font-size: 18px;
            color: $second;
            letter-spacing: 0.3em;
        }
    }

}

.intro__scroll {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: absolute;
    right: 48.8%;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.2s ease-in;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 1);
    }
}

//-----HEADER-----!

.header {
    width: 100%;
    padding-top: 53px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin-top: 53px;
}

.header__logo {
    //flex-basis: 25%;
}

.logo {
    max-width: 241px;
}

.nav {
    flex-basis: 56.3%;
    text-align: end;

    &__link {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        position: relative;
        transition: 0.5s ease;

        &::before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            left: -23px;
            top: 50%;
            border: 1px solid #fff;
            border-radius: 50%;
            transform: translateY(-50%);
        }

        &:hover::before,
        &.active::before {
            background-color: $second;
        }

        &+.nav__link {
            margin-left: 89px;
        }
    }
}


.social {
    min-width: 160px;
    display: flex;
    justify-content: flex-end;
    flex-basis: 23%;

}

.social__link {
    margin: 0 0 0 20px;

}

.fa {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    transition: 0.2s ease-in;

    &:hover {
        border: solid 1px rgba(255, 255, 255, 1);
    }
}

//-----SECTION-----!

.section {
    padding: 99px 0 140px 0;
}

.section__header {
    position: relative;
    margin: 0px auto 95px;
    width: 100%;
    max-width: 327px;
    text-align: center;

}

.section__title {
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;

    &::before {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        background-color: $line;
        //position: absolute;
        margin: 0 auto;
        margin-bottom: 35px;
    }
}

.section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
        margin-top: 196px;

        .image {
            order: 2;
        }
    }
}

.image {
    width: 54%;
    z-index: 1;
}

.img-first {
    transform: translate3d(-34%, -12%, 0);
    transition: 0.65s ease-in;
}

.section__content.first {
    position: relative;
    padding-top: 55px;

    &::after {
        content: '';
        background: #55B7FF;
        position: absolute;
        width: 585px;
        height: 470px;
        bottom: 57px;
        left: -215px;
    }
}

.img-second {
    transform: translate3d(34%, -12%, 0);
    transition: 0.65s ease-in;
}

.section__content.second {
    position: relative;

    &::after {
        content: '';
        background: #7E5AFF;
        position: absolute;
        width: 585px;
        height: 470px;
        bottom: 57px;
        right: -215px;
    }
}

.img-active {
    transform: translate(0, 0);
}

.text-description-block {
    width: 40.7%;
    display: flex;
    flex-direction: column;

    &__subtitle {
        padding-top: 70px;
        font-size: 22px;
        text-transform: uppercase;
        color: $main;
    }

    &__title {
        margin: 10px 0 25px 0;
        font-weight: bold;
        font-size: 44px;
        text-transform: uppercase;
        color: $main;
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #4b5562;
    }

    &__btn {
        margin-top: 27px;
    }

    &__location {
        margin-top: 60px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-style: italic;
        color: $main;

        i {
            letter-spacing: 10px;
        }
    }
}

.button {
    width: 190px;
    font-size: 14px;
    line-height: 3.25;
    text-align: center;
    text-transform: uppercase;
    color: $main;
    border: 1px solid $main;
    transition: 0.3s ease-in;

    &:hover {
        background: $main;
        color: $second;
    }
}

//-----LATEST NEWS-----!

.section.latest-news {
    background: url('../img/latest_news_bg.jpg') center no-repeat;
    background-size: cover;
    padding: 99px 0 142px 0;
}

.section__header.modify {
    margin: 34px auto 95px;
    color: $second;
}

.section__title.modify::before {
    background-color: $second;
}


.container.latest-news__inner {
    position: relative;
    width: 75%
}

.articles {
    //display: flex;
    margin: 0 -15px;
    position: relative;
}

.articles-item {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    // flex-basis: 40%;
    height: 515px;
    background: $second;
    position: relative;

    &__img {
        width: 100%;
        height: 46.6%;
    }

    &__block {
        padding: 30px 16px 30px 20px;
    }

    &__title {
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        color: $main;
        line-height: 26.82px;
        margin-bottom: 15px;
    }

    &__paragraph {
        font-family: "OpenSans", sans-serif;
        font-size: 18px;
        line-height: 24.51px;
        color: $main;
        letter-spacing: .5px;
    }

    &__author {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 30px;
    }

    &__photo {
        border-radius: 50%;
    }

    &__author-name-block {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 18px;
        text-transform: uppercase;
        color: $main;
    }

    &__date {
        margin-top: 8px;
        font-size: 14px;
        color: #55b7ff;
    }

}

.articles .slick-arrow {
    position: absolute;
    top: 40.5%;
    transform: translateX(49%);
    z-index: 4;
    font-size: 0;
    width: 18px;
    height: 18px;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
  }

  .articles .slick-arrow:focus {
    outline: none;
  }
  /* Стрелка влево */
  .articles .slick-arrow.slick-prev {
    left: -8.5%;
    background: url("../img/arrow_slick_left.svg") 0 0 no-repeat;
    background-size: 25%;
    background-position: center;
  }
  /* Стрелка вправо */
  .articles .slick-arrow.slick-next {
    right: -5.5%;
    background: url("../img/arrow_slick_right.svg") 0 0 no-repeat;
    background-size: 25%;
    background-position: center;
  }


/* Точки (булиты) */
.articles .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  .articles .slick-dots li {
    margin: 58px 20px 0;
    width: 10px;
    height: 10px;
    border: 1px solid $second;
    border-radius: 50px;
    cursor: pointer;
    background: none;
  }
  /* Активная точка */
  .articles .slick-dots li.slick-active {
    background: $second;
  }
  /* Элемент точки */
  .articles .slick-dots li button {
    font-size: 0;
    border: none;
    background: none;
  }
  
  .articles .slick-dots li button:focus {
    outline: none;
  }
  


//-----GALLERY-----!

.section__gallery--modify {
    padding: 140px 0 140px 0;
}

.gallery{

}

.button--gallery{
    display: block;
    font-size: 14px;
    width: 190px;
    height: 50px;
    padding: 10px 50px 19px 48px;
    line-height: 27px;
    margin: 0 auto;
}

.gallery-grid{
display: grid;
gap: 10px;
grid-template-columns: repeat(4, 1fr);

&__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
 &__item:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }
}

#map {
    height: 700px;
    width: 100%;
}


// span {
//     font-size: 20px;

//     @media (max-width: 676px) {
//         font-size: 15px;
//     }
// }

// div {
//     font-size: 15px;

//     @media (max-width: 676px) {
//         font-size: 50px;
//     }
// }

// img {
//     width: 780px;
// }